.login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .form-title {
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: #000;
  }

  .login-button {
    background-color: #815502;

    &:hover {
      background-color: #c1820e;
    }
  }
}