.login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .login-link {
    text-align: center;
  }

  .forgot-pass-link {
    display: inline-block;
    align-self: flex-start;
    font-size: 12px;
    color: #244658;

    &:hover,
    &:focus {
      color: #f29c21;
    }

    &:active {
      color: lighten(#f29c21, 15%);
    }
  }
}