.estates-page  {


  .header {
    margin-bottom: 24px;

    .title {
      background-color: #e6f4fe;
      padding: 16px;
      max-width: 100px;
      text-align: center;
      color: #1677fe;
      font-weight: 600;
      border-radius: 8px;
    }
  }

  .filter-dropdown-container {
    padding: 8px;
    width: auto;
  }
  .filter-dropdown-input {
    width: 100%;
    margin-bottom: 12px;
  }

  .ant-popover-inner-content{
    padding: 10px !important; 
  }

  .action-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  
    button {
      border: 0;
      background-color: transparent;
      cursor: pointer;
      margin: 0 8px;
      color: #dda74f;

      &:hover {
        color: #dda74f83;
      }
    }
  }

  .full-screen-button {
    color: #dda74f;
    font-size: 1.5em;
    background-color: #dda74f45;
    display: flex;
    align-items: center;
    margin-inline-start: 14px;
  }

  .fullscreen-table {
    position: absolute;
    top: 24px;
    right: 0;
    width: 100%;
    height: 100%;
    background: #181619;
  }
  .exit-fullscreen-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    color: #dda74f;
  }
}

.search-bar {
  position: relative;
  .ant-popover-arrow::after {
    background-color: #181619 !important;
  }
  .ant-popover-inner{
    background-color: #181619 !important;

    .ant-divider {
      background-color: #d7af7089;
    }
    .ant-popover-title {
      color: #dda74f;
    }

    .ant-slider-rail {
      background-color: #d7af7034;
    }
    .ant-slider-track {
      background-color: #dda74f;
    }
    .ant-slider-handle::after {
      box-shadow: 0 0 0 2px #dda74f;
    }

    input {
      color: #dda74f;
    }

    .ant-popover-inner-content{
      color: #dda74f;

      h4, h5 {
      color: #dda74f;
      }
    }
  }
  
  .reset-button {
    position: absolute;
    top: -20px;
    left: 10px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    z-index: 20;
    margin: 0;
    padding: 0;
    box-shadow: none;

    &:hover {
    background-color: transparent !important;
    }
  }

  .slider {
    margin-inline-start: 10px;
  }

  h5 { 
    min-width: 74px;
  }
  .input-number {
    width: 70px;
    border-bottom: 1px solid #dda74f7d;
    border-radius: 0;
  }

  .input {
    width: 120px;
    border: 0;
    border-bottom: 1px solid #dda74f;
    border-radius: 0;
    background: transparent;
    color: #fff;
    margin-inline-end: 50px;
    box-shadow: none;


    &:active,
    &:focus {
      border: 0;
      box-shadow: none;
      border-bottom: 1px solid #dda74f;
    }
  }

}

.estate-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .input {
    width: 200px;
  }
}