.sidebar-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
  overflow: hidden;

  .sidebar-logo {
    width: 100%;
    max-width: 56px;
  }
  .sidebar-heading {
    display: inline-block;
    color: #ee9b00ff;
    font-weight: bold;
    line-height: inherit;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-inline-start: 14px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}
.ant-layout-sider {
  background-color: #fff;

  .divider {
    height: 2px;
    width: 90%;
    background-color: #e5e5e5;
    margin: 24px auto;
  }
  @media (max-width: 767px) {
    .divider {
      display: none;
    }
  }
}
.ant-menu {
  color: #91a2ab;
  font-weight: 500;
  padding: 0 24px;

  @media (max-width: 767px) {
    padding: 0 12px;

    .ant-menu-item-group-title {
      display: none;
    }

    .ant-menu-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ant-menu-title-content {
      display: none !important;
      pointer-events: all;
    }
  }

  .ant-menu-item-group:not(:last-child) {
    margin-bottom: 44px;
  }
  .ant-menu-item-group-title {
    text-transform: uppercase;
    color: rgba(26, 61, 86, 0.3);
    padding: 0;
    padding-bottom: 4px;
    line-height: 1.3;
  }
  .ant-menu-item {
    padding: 8px !important;
    margin: 8px 0;
    .ant-menu-title-content {
      margin-right: 8px;
    }
    a {
      color: inherit;
    }
    &.ant-menu-item-selected {
      border-radius: 8px;
      font-weight: bold;
    }
  }
  .notification-count-badge {
    width: 100%;
    color: inherit;
  }
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border: none;
}
.ant-layout-sider-children {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.avatar-sidebar {
  padding: 20px 16px;
}
.avatar-sidebar {
  display: flex;
  @media (max-width: 767px) {
    display: none;
  }
  &__info {
    margin: auto 8px;
  }
  .name {
    font-weight: bold;
  }
  .email {
    color: rgba(0, 0, 0, 0.3);
  }
}

.sidebar-user-profile-btn {
  // padding-bottom: 32px;
}
