.admin-layout-container {
  width: 100%;
  min-height: 100vh;

  .admin-layout {
    padding-right: 80px;
    transition: 0.2s;
    .content {
      height: 100%;
      margin: 20px;
    }
    @media screen and (min-width: 768px) {
      padding-right: 200px;
      .content {
        margin: 36px;
        margin-top: 24px;
      }
    }
  }
}