@font-face {
    font-family: 'vazirmatn';
    src: url('./assets/fonts/Vazirmatn-Regular.ttf');
}

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'vazirmatn', sans-serif;


    .ant-table-container::after,
    .ant-table-container::before {
        box-shadow: none !important;
    }
    .ant-table-wrapper {
        background: #000 !important;

        .ant-empty-description {
            svg {
                color: #dda74f !important;
            }
        }
    }

    .ant-btn-primary {
        background-color: #dda74f45;
        color: #dda74f;

        &:hover{ 
        color: #dda74feb;
        background-color: #dda74f45 !important;
        }
    }

    .ant-input:focus, .ant-input:hover, .ant-input:active {
        border-color: #dda74f !important;
        box-shadow: 0 0 0 2px rgba(221, 167, 79, 0.2) !important;
    }

    .ant-spin-dot-item {
        background-color: #dda74f !important;
      } 
}

