.guest-layout {
  min-height: 100vh;
  padding: 40px 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url('../../assets/images/login-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .inner {
    margin-top: 40px;
    width: 416px;
    max-width: 90%;
    padding: 40px;
    padding-bottom: 20px;
    border-radius: 18px;
    padding-block: 30px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
  }
}
